<%= render "layouts/navbar" %>

<main class="h-100">
  <div class="w-full w-100 d-flex justify-content-center mt-5">
    <h1 class="dp-title dp-title__large bold">Todays News</h1>
  </div>

  <%= render partial: "news/list", locals: { publications: @news, empty_list_message: "Nothing to read today", user_is_managing: false } %>
</main>