<a class="publication-card" href="<%= news_path id: "#{publication.id}-#{publication.slug}"  %>">
  <div class="d-flex flex-column justify-content-center mb-5">
    <%= render partial: "news/card_thumbnail", locals: { publication: publication } %>

    <h2 class="dp-subtitle"><%= publication.title %></h2>

    <span class="text-secondary"><%= publication.created_at.localtime.strftime("%B %d, %Y - %H:%M") %></span>
  </div>
</a>